{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

<h1>{{ name }} homepage</h1>
<h2>Projects</h2>
<div class="add-proj-button">
    <form action="/add-project">
        <input type="submit" value="New project" />
    </form>
</div>
<div> 
    {% for project in projects %}
    <a href="/project/{{ project.id }}"><div>
        <h3>
                {{ project.name }}
        </h3>
        <img class="account-proj-img" src="{{ project.picUrl }}">
    </div></a>
    {% endfor %}

</div>

{% endblock %}