{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<h1>Welcom to CSR Net</h1>
<h2>Projects</h2>
<section>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Charity ID</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="/project/{{ project.id }}">{{ project.name }}</a></td>
                <td>{{ project.charity }}</td>
                <td>{{ project.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}